@use "/src/styles/scss/tools/function" as *;
@use "/src/styles/scss/tools/mixins" as *;

.blackBtn{
   @include center;
   background-color: black;
   color: white;
   border-radius: toRem(62);

   font-family: var(--font-family);
   font-weight: 500;
   font-size: toRem(16);
   color: #fff;
}