@use "../../styles/scss/tools/function" as *;
@use "../../styles/scss/tools/mixins" as *;
.shoplist{
   width: 100%;
   @include coloumn(16);
   &__main{
      @include coloumn(16);
   }
   &__grid{
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, minmax(174px,1fr));
      column-gap: toRem(20);
      row-gap: toRem(36);
      & a{
         max-width: 350px;
         min-width: 174px;
      }
      @media (max-width: 900px) {
         grid-template-columns: repeat(2, 1fr);
         column-gap: toRem(14);
         row-gap: toRem(24);
      }
      @media (max-width: 375px) {
         grid-template-columns: 1fr;
      }
   }

   &__header {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      gap: toRem(8);
   }

   &__heading {
      font-family: var(--font-family);
      font-weight: 700;
      font-size: toRem(32);
      color: #000;
      text-transform: capitalize;
      @media (max-width: 768px){
         font-size: toRem(24);
      }
   }

   &__sort-block {
      display: flex;
      align-items: flex-end;
      gap: toRem(12);
      @media (max-width: 1070px){
         flex: 1;
      }
      
   }
   &__filter-btn{
      display: none;
      border-radius: 62px;
      padding: toRem(8);
      width: toRem(32);
      height: toRem(32);
      background: #f0f0f0;
      @media (max-width: 1070px){
         display: block;
      }
   }

   &__showing {
   }


   &__sort {
      display: flex;
      gap: toRem(5);
      @media (max-width: 529px){
         display: none;
      }
      & select{
         appearance: none;
         position: relative;
         font-weight: 500;
         color: #000;
         cursor: pointer;

         background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.5L6 6.5L11 1.5' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
         background-repeat: no-repeat;
         background-position: right 14px center;
         background-size: 12px;
         &:focus {
            outline: none;
            border-color: #000;
            background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 6.5L6 1.5L11 6.5' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
         }
         & option{
            padding: 8px;
            font-weight: 500;
            background-color: #fff;
            &:hover{
               background-color: #000;
               color: #fff;
            }
         }
      }
   }


   &__main {
      @include center;
   }

   &__no-products {
      margin-top: toRem(100);
      font-family: var(--font-family);
      font-weight: 700;
      font-size: toRem(32);
      color: #000;
   }
}

