@use "/src/styles/scss/tools/function" as *;
@use "/src/styles/scss/tools/mixins" as *;
.block{
   width: 100%;
   padding: toRem(24);
   background: #000;
   @include side-pad;
}
.list{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 1.25rem;
}
.item{
   @include center;
   max-height: toRem(38);
   flex-grow: 1;
   flex-shrink: 1;
}
.icon{
   margin-inline: auto;
   flex-shrink: 1;
}