@use "/src/styles/scss/tools/function" as *;
@mixin center{
   display: flex;
   justify-content: center;
   align-items: center;
}
@mixin align-center{
   display: flex;
   align-items: center;
}
@mixin coloumn($gap){
   display: flex;
   flex-direction: column;
   gap: toRem($gap);
}
@mixin side-pad{
   padding-right: toRem(16);
   padding-left: toRem(16) ;
   @media (min-width: 400px){
      padding-right: toRem(24);
      padding-left: toRem(24);
   }
   @media (min-width: 768px){
      padding-right: toRem(96);
      padding-left: toRem(96);
   }
}
@mixin side-marg{
   margin-right: toRem(16);
   margin-left: toRem(16) ;
   @media (min-width: 400px){
      margin-right: toRem(24);
      margin-left: toRem(24);
   }
   @media (min-width: 768px){
      margin-right: toRem(96);
      margin-left: toRem(96);
   }
}